* {
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background-color: lightgray;
    display: grid;
    grid-template: auto 4fr / 200px 5fr;
    height: 100vh;
}

.header {
    background-color: aqua;
    grid-row: 1 / 2;
    grid-column: 1 / 3 ;
}

.sidebar {
    background-color: pink;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

.workspace {
    background-color: rgb(252, 255, 207);
    grid-row: 2 / 3;
}

.project {
    background-color: rgb(255, 227, 175);
}

.task {
    background-color: white;
}

.task:hover {
    background-color: lightgrey;
}

.formEditTask {
    background-color: green;
}

.hiddenForm {
    display: none;
}