* {
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background-color: lightgray;
    display: grid;
    grid-template: auto 4fr / 200px 5fr;
    height: 100vh;
}

.header {
    background-color: rgb(210, 210, 210);
    grid-row: 1 / 2;
    grid-column: 1 / 3 ;
    font-size: 1.5em;
    padding: 10px
}

.sidebar {
    background-color: rgb(225, 225, 225);
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    padding: 10px;
}

.sidebar > ul {
    list-style-type: none;

}

.workspace {
    background-color: rgb(250, 250, 250);
    grid-row: 2 / 3;
    padding: 10px 20px;
}

.projectContainer {
    margin-top: 10px;
}

.project {
    background-color: rgb(200, 233, 200);
    border-bottom: 1px solid green;
    padding: 4px;
    display: flex;
    justify-content: space-between;
}

.taskContainer {
    margin-top: 4px;

}

.task {
    background-color: rgb(219, 236, 247);
    padding: 3px;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 3fr auto auto;
}

.task:hover, .project:hover {
    filter: brightness(90%);
}

.projectAddTaskBtn {
    width: auto;
    font-style: italic;
    background-color: rgb(179, 233, 179);
    border: 1px solid green;

}

.projectAddTaskBtn:hover {
    filter: brightness(90%);
}

.project:hover .projectAddTaskBtn {
    display: block;
}

.taskFormContainer {
    background-color: rgb(239, 249, 255);
    /* //border: 1px solid rgb(84, 84, 255); */
}

.taskForm {
    border-top: 1px solid lightblue;
    padding: 5px;
    display: grid;
    grid-template: repeat(8, 1fr) /  2fr  1fr;
    grid-auto-flow: column;
    justify-items: left;
}

.taskForm > label {
    padding-right:50px
}

.taskForm > textarea#description {
    grid-row: 4 / 9;
    resize: none;
    width: 95%;
}

.hiddenForm {
    display: none;
}

select {
    color:black;
    width: 100px;
}

.formEditProject {
    background-color: teal
}

button {
    padding: 1px 2px;
}

/* input::placeholder {
    color: lightgray;
    opacity: 1;
} */

.lowPriorityTask {
    border: 1px solid lightblue;
}

.mediumPriorityTask {
    border: 1px solid orange;
}

.highPriorityTask {
    border: 2px solid red;
}